body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #4facfe, #00f2fe);

  display: flex;
  justify-content: center;   
  align-items: center;      

  height: 100vh;
  margin: 0;
}

.container {
  background: white;
  padding: 40px;
  border-radius: 12px;
  text-align: center;
  width: 400px;

  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

h1 {
  margin-bottom: 15px;
}

input {
  padding: 10px;
  width: 70%;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 15px;
  border: none;
  background: #4facfe;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background: #00c6ff;
}

.result {
  margin-top: 20px;
}

.success {
  color: green;
}

.error {
  color: red;
}